/* Soluzione qui */


@media screen and (max-width: 576px){
    #topbar {
        height: 70px;
        padding: 0 20px;
        background-color: #fff;
    
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .recipe-origin {
        display: inline-block;
    }

    .recipe-name {
        color: #4e3969;
        font-weight: 700;
    }

    .recipe-card {
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
        margin-bottom: 30px;
        width: 100%;
    }

    .recipe-video {
        max-width: 100%;
    }
    

    
    hr{
        color: orange;
        max-width: 100px;
    }

    .clearfix::before {
        display: inline;
        content: '';
        clear: none;
        width: 50%;
    }
    .ads {
        display: block;
        margin: 30px auto;
    }

    .fab{
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
    }

    
    .recipe-info {
	    padding: 30px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    

    label{
        display: none;
    }

    



}
   

@media screen and (min-width: 768px){
   
    .quick-notes {
        margin-top: 30px;
        display: flex ;
    }

}
 


@media screen and (max-width: 992px){
    #topbar {
        height: 70px;
        padding: 0 20px;
        background-color: #fff;
    
        display: flex;
        align-items: center;
        justify-content: left;
    }
    
    label{
        display: block;
    }
    .quick-notes {
        margin-top: 30px;
        display: flex ;
    }



}
   
