/* Soluzione qui */


@media screen and (min-width: 576px){
    #topbar {
        height: 70px;
        padding: 0 20px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .recipe-origin {
        display: none;
    }
    
    .recipe-name {
        color: #4e3969;
        font-weight: 700;
    }
    .recipe-video > img{
        max-width:576px;
        height: 288px;
    }
    
    .recipe-video{
        height: 288px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .recipe-video > img{
        width: 100%;
        display: flex;
        justify-self: center;
    }
    .ads {
        display: none;
        margin: 30px auto;
    }
    .fab{
        display: flex;
    }
    label{
        display: none;
    }
    .quick-notes {
        margin-top: 30px;
        display: flex ;
    }
    .recipe-card {
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
        margin-bottom: 30px;
        width: 100%;
    }
    
    hr{
        color: orange;
        max-width: 100px;
    }
    
    .clearfix::before {
        display: inline;
        content: '';
        clear: none;
        width: 50%;
    }

    .recipe-info {
        padding: 30px;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .recipe-video iframe {
        border: 0;
        width: 100px;
        height: 100px;
        display: flex;
    }
    .clearfix > img {
        content: '';
        clear: none; 
        float: left;
     
    }
    
}
   

@media screen and (min-width: 768px){
    #topbar {
        height: 70px;
        padding: 0 20px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .quick-notes {
        margin-top: 30px;
        display: flex ;
    }
    .recipe-origin {
        display: inline-block;
    }
    
    .recipe-name {
        color: #4e3969;
        font-weight: 800;
    }
    .recipe-video > img{
        max-width:768px;
        height: 384px;
    }
    
    .recipe-video{
        height: 384px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .recipe-video > img{
        width: 100%;
        display: flex;
        justify-self: center;
    }
    .ads {
        display: block;
        margin: 30px auto;
    }
    .fab{
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
    }
    label{
        display: none;
    }
    .quick-notes > ul {
        margin-top: 30px;
        display: flex ;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .clearfix > img {
        content: '';
        clear: none; 
        float: left;
     
    }

}
 


@media screen and (min-width: 992px){
    #topbar {
        height: 70px;
        padding: 0 20px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    
    .recipe-origin {
        display: inline-block;
    }
    
    .recipe-name {
        color: #4e3969;
        font-weight: 900;
    }

    .recipe-rating > div{
        display: flex;
    }

    .recipe-video{
        width: 70%;
        display: flex;
    }
    
    .recipe-video > img{
        width: 100%;
        display: flex;
    }
    .container {
        max-width: 992px;
        margin: 0 auto;
    }
    .ads {
        display: block;
        margin: 30px auto;
    }
    .fab{
        display: flex;
    }
    label{
        display: block;
    }
    .quick-notes > ul {
        display: table-caption;
        width: 100%;
        display: inline;
    }
    .quick-notes {
        margin-top: 10px;
    }

    .recipe-card {
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
        margin-bottom: 30px;
        width: 100%;
        display: flex;
    }
    .social-networks .label {
        display: inline-flex;
    }
    .btn{
        display:flex;
        padding-left: 40px;
        padding-right: 40px;
    }
    .btn > i{
        display:flex;
        padding: 0;
        margin: 0;
    }
    
    .recipe-card {
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
        margin-bottom: 30px;
        width: 100%;
    }

    hr{
        color: orange;
        max-width: 100px;
    }
    .recipe-info {
        padding: 30px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .recipe-video iframe {
	    border: 0;
	    width: 100px;
	    height: 100px;
	    display: flex;
    }
    .clearfix::before {
        content: '';
        clear: none; 
    }

    .clearfix > img {
        content: '';
        clear: none; 
        float: left;
     
    }
  
}
 


















